body
{
    background-image: url('https://jinkudo200.github.io/CSS/images/Background.png');
}

h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

h2
{
    color: #6E4A46;
}

ul
{
    font-family: monospace;
}

.Description
{
    text-align: center;
    color: sienna;
    font-weight: bold;
    font-size: large;
    border: 3px black groove;
}

.Info
{
    text-align: left;
}
